##Program-10

Write a Python program using the Pandas library to manage employee data with the following functionality:


1.  Prompt the user to input the number of employees and details for each employee, including Name, Age, Department, and Salary.

2.  Store the input data in a Pandas DataFrame
3.  Add a new column to the DataFrame to calculate the Bonus as 10% of the salary.
4. Display employees belonging to a specific department entered by the user.
5. Calculate and display the average salary for each department.
6. Save the DataFrame to a CSV file with a user-provided filename.

In [1]:
import pandas as pd

In [2]:
# Step 1: Input the number of employees
num_employees = int(input("Enter the number of employees: "))

# Step 2: Initialize an empty list to store employee data
employee_data = []

Enter the number of employees:  3

In [3]:
# Step 3: Take user input for each employee
for i in range(num_employees):
    print(f"\nEnter details for Employee {i+1}:")
    name = input("Name: ")
    age = int(input("Age: "))
    department = input("Department: ")
    salary = float(input("Salary: "))
    employee_data.append({'Name': name, 'Age': age, 'Department': department, 'Salary': salary})

Enter details for Employee 1:

Name:  dsa
Age:  35
Department:  hr
Salary:  35000

Enter details for Employee 2:

Name:  ghjg
Age:  25
Department:  hr
Salary:  20000

Enter details for Employee 3:

Name:  jhkj
Age:  45
Department:  admin
Salary:  25000

In [4]:
# Step 4: Create a DataFrame from the user input
df = pd.DataFrame(employee_data)

In [6]:
# Step 5: Display the original DataFrame
print("\nOriginal DataFrame:")
df

Original DataFrame:

   Name  Age Department   Salary
0   dsa   35         hr  35000.0
1  ghjg   25         hr  20000.0
2  jhkj   45      admin  25000.0

In [7]:
# Step 6: Add a Bonus column (10% of Salary)
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame after adding Bonus column:")
print(df)

DataFrame after adding Bonus column:
   Name  Age Department   Salary   Bonus
0   dsa   35         hr  35000.0  3500.0
1  ghjg   25         hr  20000.0  2000.0
2  jhkj   45      admin  25000.0  2500.0

In [8]:
# Step 7: Filter employees based on department
dept = input("\nEnter the department to filter employees: ")
filtered_df = df[df['Department'] == dept]
print(f"\nEmployees in the {dept} Department:")
print(filtered_df)

Enter the department to filter employees:  hr

Employees in the hr Department:
   Name  Age Department   Salary   Bonus
0   dsa   35         hr  35000.0  3500.0
1  ghjg   25         hr  20000.0  2000.0

In [9]:
# Step 8: Calculate average salary by department
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()
print("\nAverage Salary by Department:")
print(avg_salary_by_dept)

Average Salary by Department:
Department
admin    25000.0
hr       27500.0
Name: Salary, dtype: float64

In [10]:
# Step 9: Save the DataFrame to a CSV file
file_name = input("\nEnter the filename to save the DataFrame (e.g., 'employee_data.csv'): ")
df.to_csv(file_name, index=False)
print(f"\nDataFrame saved to '{file_name}'")

Enter the filename to save the DataFrame (e.g., 'employee_data.csv'):  C:\Users\Student\Desktop\Vasugi\emp.csv

DataFrame saved to 'C:\Users\Student\Desktop\Vasugi\emp.csv'

In [11]:
#Display employee.csv
dataframe = pd.read_csv(r'C:\Users\Student\Desktop\Vasugi\emp.csv')
dataframe

   Name  Age Department   Salary   Bonus
0   dsa   35         hr  35000.0  3500.0
1  ghjg   25         hr  20000.0  2000.0
2  jhkj   45      admin  25000.0  2500.0