#**Program-8**

#Develop python program to read Numpy array and print row (sum,mean std) and column (sum,mean,std)

In [1]:

import numpy as np

In [2]:
def calculate_stats(arr):
    # Calculate row-wise statistics
    row_sums = np.sum(arr, axis=1)
    row_means = np.mean(arr, axis=1)
    row_stds = np.std(arr, axis=1)

    # Calculate column-wise statistics
    col_sums = np.sum(arr, axis=0)
    col_means = np.mean(arr, axis=0)
    col_stds = np.std(arr, axis=0)

    return row_sums, row_means, row_stds, col_sums, col_means, col_stds

In [3]:
# Accepting input for a NumPy array
rows = int(input("Enter the number of rows: "))
cols = int(input("Enter the number of columns: "))

# Initialize an empty array
data = []

Enter the number of rows: 2
Enter the number of columns: 2

In [4]:
print("Enter the elements of the array row by row (space-separated):")
for i in range(rows):
    row = list(map(float, input(f"Row {i+1}: ").split()))
    data.append(row)

Enter the elements of the array row by row (space-separated):
Row 1: 2 3
Row 2: 4 5

In [5]:
# Convert list to a NumPy array
array = np.array(data)

In [6]:
# Calculate statistics
row_sums, row_means, row_stds, col_sums, col_means, col_stds = calculate_stats(array)

In [7]:

# Display results
print("\nRow-wise statistics:")
print("Row\tSum\t\tMean\t\tStd Dev")
for i in range(rows):
    print(f"{i+1}\t{row_sums[i]:.2f}\t{row_means[i]:.2f}\t{row_stds[i]:.2f}")

Row-wise statistics:
Row	Sum		Mean		Std Dev
1	5.00	2.50	0.50
2	9.00	4.50	0.50

In [8]:
print("\nColumn-wise statistics:")
print("Column\tSum\t\tMean\t\tStd Dev")
for j in range(cols):
    print(f"{j+1}\t{col_sums[j]:.2f}\t{col_means[j]:.2f}\t{col_stds[j]:.2f}")

Column-wise statistics:
Column	Sum		Mean		Std Dev
1	6.00	3.00	1.00
2	8.00	4.00	1.00